{foreach $prices as $domain_hash =>  $domain_prices}
    {foreach $domain_prices as $price}
        <div class="field">
            <div class="name"><strong>{$price.name}</strong> ({$domains[$domain_hash]})</div>
            <div class="value">
                {$field = "price_plugin_`$price.id`"}
                <input type="text" name="skus[{$sku.id}][{$field}]" value="{(float)$sku[$field]}" class="short numerical"><span class="s-product-currency-readonly">{$product.currency}</span>
            </div>
        </div>
    {/foreach}
{/foreach}