<div class="clear-both"></div>
<div class="field-group">
    <h3>Мульти Цены</h3> 
    <a href="?action=plugins#/price/" target="_blank">Настройки плагина</a> <i class="icon10 new-window"></i>
    {foreach $prices as $price}
        <div class="field">
            <div class="name"><strong>{$price.name}</strong></div>
            <div class="value">
                {$type = "price_plugin_type_`$price.id`"}
                <select class="price-type" name="skus[{$sku_id}][{$type}]">
                    <option value=""{if $sku[$type]|default:'' == ''} selected="selected"{/if}>Новая цена</option>
                    <option value="%"{if $sku[$type]|default:'' == '%'} selected="selected"{/if}>Процентная наценка</option>
                    <option value="+"{if $sku[$type]|default:'' == '+'} selected="selected"{/if}>Наценка в валюте</option>
                </select>
                {$field = "price_plugin_`$price.id`"}
                <input type="text" name="skus[{$sku_id}][{$field}]" value="{(float)$sku[$field]|default:''}" placeholder="0" class="short numerical">
                <span class="s-product-currency-readonly"{if $sku[$type]|default:'' == '%'} style="display:none"{/if}>{$product.currency}</span>
                <span class="s-percent"{if $sku[$type]|default:'' != '%'} style="display:none"{/if}>%</span>
            </div>
        </div>
    {/foreach}
</div>
<script type="text/javascript">
    $(document).off('change', '.price-type').on('change', '.price-type', function () {
        if ($(this).val() == '%') {
            $(this).closest('.value').find('.s-percent').show();
            $(this).closest('.value').find('.s-product-currency-readonly').hide();
        } else {
            $(this).closest('.value').find('.s-percent').hide();
            $(this).closest('.value').find('.s-product-currency-readonly').show();
        }
    });
</script>
<div class="clear-both"></div>
<hr/>